.add-address-container {
    max-width: 1100px;
    min-height: calc(100vh - 4rem);
    margin: 1rem auto;
}

.add-address-container h3 {
    text-align: center;
}

.add-address-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.add-address-container form input {
    height: 2rem;
    width: 450px;
    border-radius: 5px;
    border: 1px solid var(--blue-color);
    background-color: transparent;
    font-size: 1.2rem;
    padding-left: 0.8rem;
    margin: 0.5rem 0;
}

.add-address-container form button {
    padding: 0.3rem;
    font-size: 1.1rem;
    font-weight: 450;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    border-radius: 8px;
    width: 450px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.add-address-container form button:hover {
    background-color: white;
    color: var(--blue-color);
}

@media (max-width: 768px) {
    .add-address-container form input {
        width: 90%;
    }

    .add-address-container form button {
        width: 90%;
    }
}