
.category-container{
    max-width: 1100px;
    margin: 1rem auto;
}
.category-container h1 {
    text-align: center;
    color: var(--blue-color);
    font-size: 2.5rem;
    margin: 0.5rem 0;
}
.category-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-card{
    height: 15rem;
    width: 15rem;
    position: relative;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.category-card::before{
    content: "";
    position: absolute;
    background-color: rgba(76,0,255, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
}
.category-card:hover{
    transform: scale(1.08);
}
.category-card img {
   height: 15rem;
   width: 15rem;
   border-radius: 8px;
}
.category-card p{
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-size: 2rem;
    z-index: 100;
    color: white;
    font-weight: 600;
}