.cart-not-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 5.6rem);
}
.cart-not-login p {
    font-size: 2rem;
    font-weight: 600;
}
#small-text{
    font-size: 0.8rem;
}
.cart-not-login button {
    margin-top: 1.5rem;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
}
