.footer {
    margin-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    background-image: linear-gradient(180deg, #3A00BE 0%, #5E00CC 100%);
}
.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}
.brand-info {
    max-width: 45%;
    /* border: 2px solid red; */
}
.footer-links {
    width: 45%;
    display: flex;
    padding-top: 2rem;
}
.footer-desc {
    color: white;
    padding: 0.8rem;
    text-align: justify;
    line-height: 2rem;
}
.left-link, .right-link {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.left-link a, .right-link a {
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    line-height: 3rem   ;
}
.left-link a:hover, .right-link a:hover {
    color: #15f3ed;
}
.line {
    height: 1px;
    width: 100%;
    background-color: rgb(177, 177, 177);
}
.developer-info p{
    margin-top: 0.5rem;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}
.developer-info p a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}