.select-address-container {
    max-width: 1100px;
    margin: 1rem auto;
    min-height: calc(100vh - 4rem);
}
.select-address-container h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 550;
    line-height: 2rem;
}
.no-address-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no-address-found p {
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 1rem 0;
}
.no-address-found button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.no-address-found button:hover {
    background-color: white;
    color: var(--blue-color);
}

.address-container {
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.select-add-card label {
    display: block;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
}
.select-add-card input[type="radio"] {
    display: none;
}
.select-add-card input[type="radio"]:checked + label {
    border: 2px solid var(--blue-color);
}
.add-add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-add-btn button{
    display: block;
    padding: 0.5rem 1.5rem;
    background-color: white;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.08rem;
}

.proceed-next-button-container {
    width: 100%;
    z-index: 10;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}
.proceed-next-button-container button {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 450;
    background-color: var(--blue-color);
    color: white;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    margin: 1rem 8%;
    cursor: pointer;
}