.hero-container {
    background-color: transparent;
    background-image: linear-gradient(113deg, #0CF2F2 0%, #74FFBA 100%);
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 0;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.hero-right {
    width: 50%;
}

.hero-right img {
    height: 25rem;
}

.hero-left p {
    font-size: 6rem;
    font-weight: 800;
    color: var(--blue-color);
    line-height: 0.8;
    letter-spacing: 0;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    background-color: var(--blue-color);
    border: 2px solid transparent;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border-radius: 25px;
    transition: all 0.5s linear;
}

.hero-btn:hover{
    background-color: transparent;
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
}