.signupFormContainer {
    max-width: 1100px;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.form-heading{
    text-align: left;
    color: var(--blue-color);
}
.form-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 1rem;
    margin: 1rem auto;
}
.form-container input {
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--blue-color);
    padding-left: 0.5rem;
    font-size: 1.1rem;
    margin: 0 auto;
    width: 400px;
}

.signup-btn {
    width: 400px;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 0 auto;
    background-color: var(--blue-color);
    color: white;
}
.btn2{
    background-color: transparent;
    border: 1px solid var(--blue-color);
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup-image{
    width: 50%;
}
.signup-image img {
    height: 100%;
    width: 100%;
    display: block;
}

@media (max-width: 1100px) {
    .signupFormContainer {
        max-width: 90%; 
    }
    .form-container {
        max-width: 350px;
    }
    .signup-image{
        width: 50%;
    }
    .signup-image img {
        height: 90%;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .signup-image img {
        display: none;
    }
    .form-container{
        max-width: 95%;
    }
    .form-container input {

        width: 100%;
    }
    
    .signup-btn {
        width: 100%;   
    }  
}