.otp-model-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(78,0,255,0.2);
    z-index: 100;
}

.otp-box{
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: white;

}
.otp-box .cutbtn{
    display: block;
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: 0;
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.otp-box div h3 {
    color: var(--blue-color);
    font-size: 2rem;
}
.otp-input-box{
    display: block;
    height: 2.8rem;
    width: 90%;
    margin: 0.5rem 0;
    font-size: 1.8rem;
    font-weight: 550;
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    padding-left: 0.8rem;
    letter-spacing: 0.8rem;
}
.otp-submit-btn{
    height: 2.8rem;
    width: 90%;
    display: block;
    background-color: var(--blue-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 550;
    cursor: pointer;

}